ion-content {
  --background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

ng-lottie {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 25%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  ng-lottie {
    width: 100%;
  }
}
